body {
    background-image: url(transferir.png);
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

input[type="text"], input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #FFD700;
    border-radius: 5px;
    background-color: #333;
    color: white;
}

input[type="text"]:focus, input[type="number"]:focus {
    border-color: #FFD700;
    outline: none;
}

button {
    background-color: #FFD700;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    margin: 5px 0;
}

button:hover {
    background-color: #FFC107; /* Amarelo mais claro */
}

#outputListaSaida {
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #FFD700;
    border-radius: 5px;
    background-color: #444;
    color: black; /* Texto preto para boa legibilidade */
}
